<ion-view cache-view="false">
  <ion-content has-header="true" padding="false" scroll="false">
      <ion-tabs class="tabs-color-dark tabs-top has-tabs-top tabs-striped tabs-background-energized">

      <ion-tab title="Attending">

        <ion-content padding="true" scroll="true">
        <h1>Tabs not flush to top .... </h1>
      </ion-content>

      </ion-tab>

      <ion-tab title="Invited">
        ttttt
      </ion-tab>

      <ion-tab title="History">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>



  </ion-content>
</ion-view>
